/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  background-color: #730136 !important;
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
